@model SearchResultModel
@{
    Layout = "_Layout";
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <a class="titlea" href="index.html">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-library-books"></i>
                </span>
                <span>My Library</span>
            </a>
        </h3><a class="titlea" href="index.html">
        </a>
        <form action="/search" method="get">
            <div class="form-group">
                <div class="input-group">
                    <input placeholder="Search all books" aria-label="Search all books" aria-describedby="basic-addon2"
                           style="height: 36px; border-radius: 4px 0px 0px 4px;" type="text" class="form-control form-control"
                           name="key" value="@Model.SearchKey">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-gradient-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    @if (Model.Message != null)
    {
        <div class="alert alert-info" role="alert">
            @Model.Message
        </div>
    }
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Search Results: "@Model.SearchKey"</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> Cover </th>
                                    <th class="titlew"> Title </th>
                                    <th> Author </th>
                                    <th> Language </th>
                                    <th> E-Book No </th>
                                    <th> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Books)
                                {
                                    <tr>
                                        <td>
                                            <img data-original="@item.CoverUrl" class="me-2 lazy" alt="image">
                                        </td>
                                        <td>@item.Title</td>
                                        <td>@item.Author</td>
                                        <td>@item.Lang</td>
                                        <td>@item.EbookNo</td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm">
                                                <i class="mdi mdi-plus-outline"></i>
                                                Add To Library
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $('.table').DataTable({
            "pageLength": 100,
            "order": [[1, 'asc']],
            drawCallback: function () {
                $("img.lazy").lazyload();
            }
        });
    </script>
}